<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Opções de Navegação</h1>
        <div class="list-group">
            <a href="/producao" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Produção
                <a href="/download_producao" class="btn btn-secondary btn-sm">Download CSV</a>
            </a>
            <a href="/processamento" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Processamento
                <a href="/download_processamento" class="btn btn-secondary btn-sm">Download CSV</a>
            </a>
            <a href="/comercializacao" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Comercialização
                <a href="/download_comercializacao" class="btn btn-secondary btn-sm">Download CSV</a>
            </a>
            <a href="/importacao" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Importação
                <a href="/download_importacao" class="btn btn-secondary btn-sm">Download CSV</a>
            </a>
            <a href="/exportacao" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Exportação
                <a href="/download_exportacao" class="btn btn-secondary btn-sm">Download CSV</a>
            </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
